*{
    background-color: #4011c0;
}

.div-accordion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* div onde está o h1  */
.baixar{
    display: flex;
    justify-content: center;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(172, 232, 243);
    text-decoration: underline;
}
/* div aonde tá o h2  */
.mds{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: rgb(172, 232, 243);    
}
.mds1{
    width: 80%;
    margin-top: 70px;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    background-color: rgb(64, 14, 201);
}

.a{
    margin-top: 10px;
    text-align: center;
}

.botao{
    margin-top: 10px;
    margin-bottom:10px;
    width: 25rem;
}
.audio{
    width: 80%;
    margin-bottom: 10px;
}

.accordion-flush {
    margin-top: 10px;
}

.accordion-btn_download{
    text-decoration: none;
    color: rgb(172, 232, 243);
    border: 1px solid rgb(172, 232, 243);
    padding: 10px;
    text-decoration: underline 0px;
    border-radius: 10px;
    margin-bottom: 50px;
}
.accordion-btn_download:hover{
    opacity: 0.5;
    transition: 1s;
    color: white;
}
.btn-footer{
    color: #ACE8F3;
    font-size: 20px;
}
.btn-footer:hover{
    opacity: 0.5;
    transition: 0.5s;
    border: 1px solid white;
    color: rgb(172, 232, 243);
    padding: 5px;
}


a {
    text-decoration: none
}

.playlist{
    text-align: center;
}

.red{
    color: red;
}

/* ################POP UP##################### */

.modal-containe, .modal-containe1 {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-containe.mostrar {
    display: flex;
}
.modal-containe1.mostrar {
    display: flex;
}

.modal1, .modal2 {
    background: white;
    width: 80%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal1  {
    from {
        opacity: 0;
        transform: translate3d(0, 0px, 0);
    }
    to {
        opacity: 100;
        transform: translate3d(0, 0,0);
    }
}


.mostrar .modal1 {
    animation: modal1 .5s ease-in;
}

.fechar {
    position: absolute;
    font-size: 1.2em;
    top: 30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}

.subtitulo, .subtitulo1, .subtitulo2, .subtitulo3, .subtitulo4, .subtitulo5, .subtitulo6{
    background-color: white;
    color: black;
}

.subtitulo, .subtitulo3, .subtitulo4{
    font-size: 10px;
}



/*################## POPUP 2 ################### */

.mostrar-modal_class {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar-modal_class.mostrar3 {
    display: flex;
}

.modal_class {
    background: white;
    width: 80%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal-3 {
    from {
        opacity: 0;
        transform: translate3d(0, 0px, 0);
    }
    to {
        opacity: 100;
        transform: translate3d(0, 0,0);
    }
}


.mostrar3 .modal_class {
    animation: modal-3 .5s ease-in;
}

.fechar3 {
    position: absolute;
    font-size: 1.2em;
    margin-top: 30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}


/* #################POP UP 3########## */
.mostrar-modal_class4 {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar-modal_class4.mostrar4 {
    display: flex;
}

.modal_class4 {
    background: white;
    width: 80%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal-4 {
    from {
opacity: 0;
transform: translate3d(0, 0px, 0);
}
to {
opacity: 100;
transform: translate3d(0, 0,0);
}
}

.mostrar4 .modal_class4 {
    animation: modal-4 .5s ease-in;
}

.fechar4 {
    position: absolute;
    font-size: 1.2em;
    top: 30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}

/* #################POP UP 4########## */
.mostrar-modal_class5 {
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.mostrar-modal_class5.mostrar5 {
    display: flex;
}

.modal_class5 {
    background: white;
    width: 60%;
    min-width: 300px;
    padding: 40px;
    border: 10px solid #988b7a;
    box-shadow: 0 0 0 10px white;
    position: relative;
}

@keyframes modal-5 {
    from {
opacity: 0;
transform: translate3d(0, 0px, 0);
}
to {
opacity: 100;
transform: translate3d(0, 0,0);
}
}

.mostrar5 .modal_class5 {
    animation: modal-5 .5s ease-in;
}

.fechar5 {
    position: absolute;
    font-size: 1.2em;
    top: 30px;
    right: -30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid white;
    background: #988b7a;
    color: white;
    font-family: "PT Mono", monospace;
    cursor: pointer;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
}

.button-letra{
    display: flex;
    flex-direction: column
}




/* RESPONSIVE MODE */

@media only screen and (max-width: 999px){
    .modal1,.modal_class,.modal_class4,.modal_class5{
        width: 95%;
    }
}


strong {
    background-color: white;
}

/* PESQUISADOR */
.seach{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
input{
    
}
#cifralist{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
#cifralist a {
    margin-bottom: 10px;
}
h3{
    margin: 0;
    padding: 0;
}
